#header nav {
  display: flex;
  height: 40px;
  align-items: center;
}

#header a:hover {
  display: flex;
  color: lightblue;
  background-color: rgb(46, 46, 145);
  height: 40px;
  align-items: center;
}

.home {
  height: 20px;
  filter: invert(100%);
}

@media screen and (min-width: 768px) {
  .home {
    padding: 0 4rem;
  }
}
