#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  line-height: 1.5;
  font-size: 60px;
  font-weight: bolder;
  font-stretch: expanded;
  margin: auto;
}

.role {
  margin: auto;
}

.introduction {
  margin: 4rem auto;
  width: 600px;
}

.message {
  margin: 4rem auto;
}

#hero a span {
  display: inline-flex;
  background-color: lightblue;
  color: darkblue;
  width: 100px;
  margin: 1rem;
  padding: 1rem 2rem;
  justify-content: center;
  border-radius: 0.25rem 1rem;
}

#hero a span:hover {
  transform: scale(120%);
  border: 1px solid white;
  animation: action-button 5s infinite linear;
}

@keyframes action-button {
  0% {
    background-color: lightblue;
    transform: rotate(0);
  }

  33% {
    background-color: rgb(66, 66, 66);
    transform: rotate(2deg);
  }
  66% {
    background-color: rgb(66, 66, 66);
    transform: rotate(-2deg);
  }
  100% {
    background-color: lightblue;
    transform: rotate(0);
  }
}
