#footer {
  background-color: grey;
  height: fit-content;
  padding-top: 1rem;
}

#footer .container > ul {
  display: flex;
  padding: 1rem;
}

#footer .container > ul > li:hover {
  transform: scale(120%);
  color: lightblue;
}

.footer-links {
  padding-left: 2rem;
  overflow: hidden;
}

.footer-links h3 {
  text-align: left;
}

.footer-links li {
  padding: 0.25rem;
}

.footer-links li a:hover {
  color: lightblue;
}

.copyright {
  display: flex;
  justify-content: center;

  padding: 2rem;
}

@media screen and (min-width: 768px) {
  .footer-links {
    display: flex;
    justify-content: space-evenly;
  }
}
