.tools-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5rem;
  width: 80%;
  max-width: 1240px;
  align-items: center;
  margin: 20px auto;
  justify-content: center;
}

@media screen and (min-width: 720px) {
  .tools-container {
    flex-direction: row;
  }
}

.tools {
  padding: 0 1rem;
}

.tools:hover {
  animation: wave 2s infinite linear;
}

@keyframes wave {
  0% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(4px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}
