#root {
  margin: 0 auto;
  text-align: center;
}

#header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(117, 117, 117);
}

.section {
  max-width: 1780px;
  height: 90vh;
  border: white solid 2px;
  margin: 1rem auto 4rem;
  padding: 2rem;
}

.card {
  background-color: rgba(250, 235, 215, 0.425);
  height: 400px;
  width: 300px;
}

.container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}
