#root {
  margin: 0 auto;
  text-align: center;
}
#root > :nth-child(odd) {
  background-color: rgba(250, 235, 215, 0.425);
}

.section {
  min-height: 90vh;
  margin: auto;
  padding: 2rem 0;
}

.card {
  background-color: rgba(250, 235, 215, 0.425);
  height: 400px;
  width: 300px;
  border-radius: 0.5rem;
}

.card-img {
  width: 90%;
  height: auto;
}

.card-text {
  height: 30%;
}

.icon {
  height: 100px;
  width: auto;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.col-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hover-pop-up {
  position: absolute;
  top: 50px;
  left: 0%;
  text-align: left;
  font-size: 20px;
  background: rgba(250, 235, 215, 0.8);
  color: black;
  padding: 1rem;
  border-radius: 0.5rem;
  display: none;
  width: 200px;
  z-index: 100;
  animation: fade-in 0.6s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.pop-up-container {
  position: relative;
  width: fit-content;
}

.pop-up-container:hover > .hover-pop-up {
  display: block;
}

.hover-pop-up > a {
  color: darkslategray;
  padding: 0;
  border-bottom: 2px solid black;
}

.overlay {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

* .overlay:hover {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(122, 122, 121, 0.8);
  top: 0;
  left: 0;
  border-radius: 0.5rem;
  opacity: 1;
  z-index: 100;
}

.overlay-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    justify-content: center;
    align-items: center;
  }
}
