html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

:root {
  background-color: rgb(32, 30, 30);
  color: white;
}

a {
  text-decoration: none;
  color: white;
  padding: 0 0.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.relative {
  position: relative;
}
